
.game-menu, #game-overlay, #menu-area {
    margin: auto;
    width: 640px;
    height: 512px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-overlay {
    background-color: black;
    opacity: .5;
}

#menu-area {
	width: calc( 640px - 50px );
	height: calc( 512px - 50px );
	background: url("../assets/images/menu_bg.jpg") no-repeat;
	background-size: 100% 100%;
}

.menu-button {
	font-family: merienda;
	font-size: 2em;
	width: 6em;
	border-radius: 5px;
	cursor: pointer;
	
	color: white;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	background-image: linear-gradient(101deg, #F4ED9C, #EACF6F, #D39350);
	background-origin: border-box;
	box-shadow: 2px 1000px 1px rgba(0,0,0,0.7) inset;
}

.menu-label {
	font-family: merienda;
	font-size: 2em;
}

.title-label {
	font-family: merienda;
	font-size: 3rem;
	color: green;
}

#options-menu > * {
	margin-bottom: 10px;
}

.menu-button:hover {
  box-shadow: none;
  color: #302B2D;
}

.game-menu {
    height: 200px;
    text-align: center;
    color: white;
}