
#back-button {
	background: url("../assets/images/back_arrow_white.png") no-repeat;
	width: 32px;
	height: 20px;
	left: 20px;
	top: 30px;
}

#cross-button { 
	background: url("../assets/images/cross_white.png") no-repeat;
	width: 28px;
	height: 20px;
	left: calc( 640px - 50px - 28px - 25px );
	top: 30px;
}

#back-button:hover {
	background: url("../assets/images/back_arrow.png") no-repeat;
	background-size: 100% 100%;
}

#cross-button:hover {
	background: url("../assets/images/cross.png") no-repeat;
	background-size: 100% 100%;
}

#back-button, #cross-button {
	cursor: pointer;
	background-size: 100% 100%;
    position: absolute;
}